header{
    display: flex;
    justify-content: space-around;
    margin-left: -30px;
}

.search{
    border: 1px solid rgb(199, 199, 199);
    color:grey;
    width:200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    margin-top:18px;
}

.icon{
    margin-left:20px;
    color: green;
}

ul{
    text-decoration: none;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 20px;
    margin-top: 25px;
    color: rgb(93, 92, 92);
}

main{
    display: flex;
   justify-content: space-around;
    margin: 25px 0px 0px 30px;
    font-family: sans-serif;
   
}

.img{
    display: flex;
    gap: 20px;
    margin-top:30px;
    
}

figure{
    text-align: center;
}

.content{
    margin-left: 50px;
}

main h1{
    font-size: 35px;
    margin: 0 0 18px 0;
    color: #000000; 
    font-weight: light;
   
}

main p{
    color: #4d6169;
    font-size: 16px;
    margin: 10px 0 20px 0;
}


main input{
    padding: 12px 14px;
    border-radius: 8px 0 0 8px;
    border: 1px solid rgb(84, 84, 84);
    width: 260px;
    font-size: 14px;
    margin-top: 30px;
}

main .btn{
    padding: 12px 18px;
    border-radius: 0 8px 8px 0;
    border: none;
    background-color: rgb(21, 114, 139);
    color: #fff;
    font-weight: bold;
    height: 43px;

}

.cards,.cards2{
    display: flex;
    justify-content: space-around;
    margin-left:100px;
    margin-top:30px;
    margin-right: 60px;
   
   
}

.cards .card1{
      border:1px solid rgb(220, 218, 218);
      width: 260px;
      height: 230px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap:30px;
      border-radius: 20px;
      box-shadow: 2px 2px 2px rgb(205, 204, 204);
   
}

.card1 div{
   font-size: 20px;
   font-family: sans-serif;
}

.btn1{
    border: 1px solid rgb(121, 38, 181);
    background-color: white;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    color: rgb(130, 38, 196);
    font-size: 16px;
    box-shadow: 2px 2px 5px;
}

.btn2{
    border: 1px solid rgb(39, 170, 32);
    background-color: white;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    color:  rgb(38, 164, 31);
    font-size: 16px;
    box-shadow: 2px 2px 5px;
}

.btn1:hover{
    background-color: rgb(148, 45, 223);
    color: white;
    transition: 600ms;
    cursor: pointer;

}

.btn2:hover{
    background-color:rgb(39, 170, 32);
    color: white;
    transition: 600ms;
    cursor: pointer;
}

.card-container{
    border:1px solid rgb(220, 218, 218);
      width: 380px;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap:10px;
      border-radius: 20px;
      box-shadow: 0px 1px 2px rgb(205, 204, 204);
}

.btn3{
    border: 1px solid  rgb(255, 255, 255);
    background-color: white;
    width: 280px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(120, 80, 180);
    color: white;
    font-size: 16px;
    
}
.btn4{
       border: 1px solid  rgb(255, 255, 255);
    background-color: white;
    width: 280px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(38, 196, 109);
    color: white;
    font-size: 16px;
}
.btn4:hover{
    background-color:white;
    border:1px solid rgb(39, 170, 32);
    transition: 400ms;
    color: rgb(39, 170, 32);
    cursor: pointer;
}

.btn3:hover{
    background-color:white;
    border:1px solid rgb(120, 80, 180);
    transition: 400ms;
    color: rgb(120, 80, 180);
    cursor: pointer;
}

.cards2 span{
    font-size:18px;
}

.third{
    display:flex;
    justify-content: space-around;
    margin-top: 35px;
    margin-left: 40px;
    
}

.third h4{
    font-size:25px;
    margin-top: 40px;
    line-height: 40px;
   font-family: sans-serif;
   font-weight: lighter;
}
.third p{
    font-size: 20px;
    color: rgb(116, 115, 115);
    line-height: 25px;
    word-spacing: 6px;
    font-family: sans-serif;
}












